@model OutOfOffice.MVC.Models.Identity.UserAuthenticationVM


@{
    ViewData["Title"] = "Login";
}

<h1 class="text-center">Login</h1>

<div class="row justify-content-center">
    <div class="col-md-6 col-lg-4">
        <div class="card">
            <div class="card-body ">
                <form id="loginForm" asp-action="Login">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="ReturnUrl" />
                    <div class="mb-3 form-group">
                        <label asp-for="UserNameOrEmail" class="form-label"></label>
                        <input asp-for="UserNameOrEmail" class="form-control"
                            placeholder="Enter your username or email" />
                        <span asp-validation-for="UserNameOrEmail" class="text-danger"></span>
                    </div>
                    <div class="mb-3 form-group">
                        <label asp-for="Password" class="form-label"></label>
                        <input asp-for="Password" type="password" class="form-control"
                            placeholder="Enter your password" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div class="mb-3 form-group text-center">
                        <button type="submit" class="btn btn-primary btn-lg">Login</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="text-center mt-3">
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @* <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/login.js"></script> *@
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}